# Tuple
<ul>
    <li>Ordered</li>
    <li>Indexed</li>
    <li>Unchangable</li>
    <li>Allows Duplicates</li>
</ul>

In [141]:
x = 23,34,2,335,45 ,23

In [143]:
print(type(x))

<class 'tuple'>

In [145]:
y =  (34)

In [147]:
print(type(y))

<class 'int'>

In [149]:
# creating a tuple with single item use ","
z = (34,)

In [151]:
print(type(z))

<class 'tuple'>

In [154]:
print(x) # ordered and allows duplicates

(23, 34, 2, 335, 45, 23)

In [156]:
print(x[1]) # indexed

34

In [158]:
x[3] = 100 # unchangable | immutable

TypeError: 'tuple' object does not support item assignment

In [160]:
print(x.count(23)) # return number of occurancrs of the specified item

2

In [162]:
print(x.index(23)) # return index of the first occurance 
print(x.index(23, 1 , 6)) # return index of the first occurance

0
5

In [164]:
# Let's assume 'x' is a list of numbers, e.g., x = [10, 20, 30, 40, 50].
# If 'x' is not defined, this code would raise an error. For this explanation, assume x = [10, 20, 30, 40, 50].

# Line 1: num_list = list(x)
# Explanation: The 'list()' function converts the input 'x' into a list.
# Here, we assume 'x' is already a list, so 'num_list' becomes a new list with the same elements as 'x'.
# The 'list()' function is often used to convert other data types (like tuples or strings) into a list.
# For example, if x = [10, 20, 30, 40, 50], then num_list = [10, 20, 30, 40, 50].
num_list = list(x)

# Line 2: print(type(num_list))
# Explanation: The 'type()' function tells us the data type of 'num_list'.
# The 'print()' function outputs this to the console.
# Since 'num_list' is a list, this will print: <class 'list'>.
# This is useful to confirm that 'num_list' is indeed a list.
print(type(num_list))

# Line 3: num_list.insert(2, 100)
# Explanation: The 'insert()' method adds an element (100) at the specified index (2) in the list.
# Lists in Python are zero-indexed, so index 2 refers to the third position.
# The element 100 is inserted at index 2, shifting all elements from index 2 onward to the right.
# If num_list was [10, 20, 30, 40, 50], after this, it becomes [10, 20, 100, 30, 40, 50].
num_list.insert(2, 100)

# Line 4: print(num_list)
# Explanation: This prints the current state of 'num_list' to the console.
# After the insert, it will print: [10, 20, 100, 30, 40, 50].
# The 'print()' function shows the entire list so we can see the changes.
print(num_list)

# Line 5: num_list.remove(335)
# Explanation: The 'remove()' method removes the first occurrence of the specified value (335) from the list.
# If 335 is not in the list (e.g., [10, 20, 100, 30, 40, 50]), this will raise a ValueError.
# For this explanation, if 335 isn't present, the code will crash unless handled (e.g., with try-except).
# Assuming 335 was in the list (e.g., if num_list was modified earlier), it would remove it.
# Since 335 is not in [10, 20, 100, 30, 40, 50], this line would cause an error in this case.
num_list.remove(335)

# Line 6: print(num_list)
# Explanation: This would print the updated 'num_list' after removing 335.
# If the previous line didn’t crash, it would show the list without 335.
# Since 335 isn’t in our assumed list, this line won’t execute due to the error above.
print(num_list)

# Line 7: x = tuple(num_list)
# Explanation: The 'tuple()' function converts 'num_list' (a list) into a tuple.
# A tuple is like a list but immutable, meaning you can’t change its elements after creation.
# If num_list is [10, 20, 100, 30, 40, 50], then 'x' becomes (10, 20, 100, 30, 40, 50).
# This line assigns the new tuple to the variable 'x', overwriting the original 'x'.
x = tuple(num_list)

# Line 8: print(x)
# Explanation: This prints the tuple 'x' to the console.
# If the previous steps worked (ignoring the remove error), it would print: (10, 20, 100, 30, 40, 50).
# Tuples are displayed with parentheses () instead of square brackets [] like lists.
print(x)

<class 'list'>
[23, 34, 100, 2, 335, 45, 23]
[23, 34, 100, 2, 45, 23]
(23, 34, 100, 2, 45, 23)

In [175]:
print(x[0])
print(x[1])
print(x[2])
print(x[3])

23
34
100
2

In [203]:
# Define the list 'x' with the given numbers.
# Lists in Python are ordered, mutable collections, defined with square brackets [].
x = [23, 34, 2, 335, 45, 23]

# Line 1: suraj, tushar, *rohan, yogesh, others = x
# Explanation: This uses tuple unpacking to assign elements from the list 'x' to variables.
# - 'suraj' gets the first element: 23
# - 'tushar' gets the second element: 34
# - '*rohan' uses the asterisk (*) to collect all elements between the second and the last two elements into a list.
#   Here, 'rohan' gets [2, 335], because these are the elements at indices 2 and 3.
# - 'yogesh' gets the second-to-last element: 45
# - 'others' gets the last element: 23
# The list 'x' has exactly 6 elements, and the unpacking matches: 2 (suraj, tushar) + some (*rohan) + 2 (yogesh, others).
suraj, tushar, *rohan, yogesh, others = x

# Line 2: print(suraj)
# Explanation: This prints the value of 'suraj', which is the first element of 'x'.
# Output will be: 23
print(suraj)

# Line 3: print(rohan)
# Explanation: This prints the value of 'rohan', which is a list containing the middle elements of 'x'.
# Since 'rohan' collects elements between tushar (index 1) and yogesh (second-to-last), it gets [2, 335].
# Output will be: [2, 335]
print(rohan)

23
[2, 335]