In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [9]:
pd.__version__

'2.1.4'

# Pandas Series
- It's like a column in a table

In [12]:
marks = [23,34,34]
print(type(marks))
ser = pd.Series(marks)

<class 'list'>

In [18]:
print(ser)
print(type(ser))

0    23
1    34
2    34
dtype: int64
<class 'pandas.core.series.Series'>

In [20]:
stu_marks = pd.Series(marks , index=["yogesh","tushar","mishra"])
print(stu_marks)

yogesh    23
tushar    34
mishra    34
dtype: int64

In [22]:
print(stu_marks["tushar"])

34

In [26]:
print(ser[1])

34

In [28]:
data = {
    "name" : "john doe",
    "gender" : "Male",
    "age" : 23
}

In [30]:
john = pd.Series(data)
print(john)

name      john doe
gender        Male
age             23
dtype: object

# `DataFrame`
***data sets in pandas are usually multi-dimensional tables, called dataframes***

---

***Data Frame is a whole table , where series is like a column***

In [36]:
data = {
    "name" : ["john", "Pinki", "Gabbar"],
    "marks" : [34,45,34]
}

In [38]:
df = pd.DataFrame(data)
print(df)

     name  marks
0    john     34
1   Pinki     45
2  Gabbar     34

In [40]:
df

     name  marks
0    john     34
1   Pinki     45
2  Gabbar     34

In [42]:
print(df.loc[1])

name     Pinki
marks       45
Name: 1, dtype: object

In [44]:
print(df.loc[0:2])

     name  marks
0    john     34
1   Pinki     45
2  Gabbar     34

In [46]:
print(df.loc[[0,2]])

     name  marks
0    john     34
2  Gabbar     34

In [48]:
df_2 = pd.DataFrame(data, index=["stu_1","stu_2","stu_3"])
print(df_2)

         name  marks
stu_1    john     34
stu_2   Pinki     45
stu_3  Gabbar     34

In [50]:
df_2

         name  marks
stu_1    john     34
stu_2   Pinki     45
stu_3  Gabbar     34

In [64]:
print(df_2.loc[["stu_1", "stu_3" , "stu_2"]])

         name  marks
stu_1    john     34
stu_3  Gabbar     34
stu_2   Pinki     45

In [66]:
print(df_2.loc["stu_1" : "stu_2"])

        name  marks
stu_1   john     34
stu_2  Pinki     45

In [76]:
sales_df = pd.read_csv("./sales.csv")

In [78]:
print(sales_df)

          Date                Product               Category Region  \
0   2024-01-15           Basmati Rice          Spices & Food  North
1   2024-01-15           Basmati Rice          Spices & Food  North
2   2024-02-03        Turmeric Powder          spices & food   West
3   2024-13-10    Banarasi Silk Saree     Textiles & Fashion   East
4   2024-04-22            Khadi Kurta     Textiles & Fashion  South
5   2024-05-18   Ashwagandha Capsules   Wellness & Ayurvedic  North
6   2024-06-07         boAt Earphones            Electronics   West
7   2024-07-12      Haldiram's Bhujia          Spices & Food  South
8   2024-07-12      Haldiram's Bhujia          Spices & Food  South
9   2024-08-09        Kundan Necklace  Jewelry & Handicrafts   East
10  2024-09-14         Darjeeling Tea          Spices & Food  North
11  2024-10-05         Neem Face Mask   Wellness & Ayurvedic   West
12  2024-11-20     Handloom Bedspread     Textiles & Fashion  South
13  2024-12-12            Amul Butter          Spices & Food   East
14  2024-01-25      Blue Pottery Vase  Jewelry & Handicrafts  North
15  2024-02-14           Garam Masala          Spices & food   West
16  2024-03-08   Organic Cotton Shirt     Textiles & Fashion  South
17  2024-04-17               Yoga Mat   Wellness & AYURVEDIC   East
18  2024-05-22          Mixer Grinder            Electronics  North
19  2024-06-10       Parle-G Biscuits          Spices & Food   West
20  2024-07-15             Brass Diya  Jewelry & Handicrafts  South
21  2024-08-20     Mysore Sandal Soap   Wellness & Ayurvedic   East
22  2024-09-05          Bajaj Scooter             Automotive  North
23  2024-10-12        Handmade Carpet     Textiles & Fashion   West
24  2024-11-18   Paper Boat Aam Panna          Spices & Food  South
25  2024-11-18   Paper Boat Aam Panna              Beverages  South
26  2024-12-01  Himalaya Herbal Cream   Wellness & Ayurvedic   East
27  2024-01-30           Old Monk Rum              Beverages  North
28  2024-02-22     Madhubani Painting  Jewelry & Handicrafts   West
29  2024-03-15         Snitch T-Shirt     Textiles & Fashion  South
30  2024-04-10     Dabur Chyawanprash          Spices & Food   East
31  2024-05-25         Safari Luggage            Electronics  North
32  2024-06-18     Turmeric Face Mask   Wellness & Ayurvedic   West
33  2024-07-20           Bhujia Papad          Spices & Food  South
34  2024-08-12         Pashmina Shawl     Textiles & Fashion   East
35  2024-09-22  Forest Essentials Oil   Wellness & Ayurvedic  North
36  2024-10-15         Marble Coaster  Jewelry & Handicrafts   West
37  2024-11-10          Cardamom Pods          Spices & Food  South
38  2024-12-05      Allen Solly Shirt     Textiles & Fashion   East
39  2024-01-08       Bamboo Tableware         Home & Kitchen  North
40  2024-02-18              Rooh Afza              Beverages   West
41  2024-03-20             Jaipur Rug     Textiles & Fashion  South
42  2024-04-25         Gillette Razor   Wellness & Ayurvedic   East
43  2024-05-30        Cinnamon Sticks          Spices & Food  North
44  2024-06-22              Tabla Set    Musical Instruments   West
45  2024-07-18   Indigo Cushion Cover         Home & Kitchen  South
46  2024-07-18   Indigo Cushion Cover         Home & Kitchen  South
47  2024-08-15    Kaama Ayurveda Soap   Wellness & Ayurvedic   East
48  2024-09-10      Britannia Cookies          Spices & Food  North
49  2024-10-20        Khadi Face Mask     Textiles & Fashion   West
50  2024-12-32                  Sitar    Musical Instruments  South

    Units_Sold  Unit_Price Sales_Rep  Total_Sales
0        120.0         8.5      Anil       1020.0
1        120.0         8.5      Anil       1020.0
2         80.0         3.2      Riya        256.0
3         15.0       150.0     Priya       2250.0
4          NaN        25.0    Vikram        625.0
5         90.0        12.0      Anil       1080.0
6        200.0         NaN       NaN       3600.0
7        150.0         5.0     Priya        750.0
8        150.0         5.0     Priya        750.0
9         10.0       200.0    Vikram       2000.0
10        60.0        15.0      Anil        900.0
11       -70.0        10.0      Riya        700.0
12        25.0        50.0     Priya       1250.0
13       100.0         4.5    Vikram        450.0
14        20.0        30.0      Anil        600.0
15       110.0         4.0      Riya          NaN
16        60.0        20.0     Priya       1200.0
17        85.0        15.0    Vikram       1275.0
18        30.0        60.0       NaN       1800.0
19       200.0         2.0      Riya        400.0
20        40.0        12.0     Priya        480.0
21       150.0         3.5    Vikram        525.0
22         5.0       800.0      Anil       4000.0
23         8.0       250.0      Riya       2000.0
24        90.0         1.5     Priya        135.0
25        90.0         1.5     Priya        135.0
26       100.0         8.0    Vikram        800.0
27        50.0        12.0      Anil        600.0
28        12.0       100.0      Riya       1200.0
29        70.0        15.0     Priya       1050.0
30        80.0        10.0       NaN        800.0
31        25.0        80.0      Anil       2000.0
32        60.0         9.0      Riya        540.0
33       120.0         2.5     Priya        300.0
34        10.0       120.0    Vikram       1200.0
35        30.0      2500.0      Anil      75000.0
36        40.0        15.0      Riya        600.0
37       100.0         6.0     Priya        600.0
38        50.0        30.0    Vikram       1500.0
39        60.0        10.0      Anil        600.0
40        80.0         5.0      Riya        400.0
41        15.0       200.0     Priya       3000.0
42       200.0         3.0    Vikram        600.0
43        90.0         4.0      Anil        360.0
44         5.0       150.0      Riya        750.0
45        40.0        12.0     Priya        480.0
46        40.0        12.0     Priya        480.0
47       100.0         7.0    Vikram        700.0
48       150.0         2.5      Anil        375.0
49        60.0         8.0      Riya        480.0
50         3.0       500.0       NaN       1500.0

In [80]:
print(sales_df.to_string())

          Date                Product               Category Region  Units_Sold  Unit_Price Sales_Rep  Total_Sales
0   2024-01-15           Basmati Rice          Spices & Food  North       120.0         8.5      Anil       1020.0
1   2024-01-15           Basmati Rice          Spices & Food  North       120.0         8.5      Anil       1020.0
2   2024-02-03        Turmeric Powder          spices & food   West        80.0         3.2      Riya        256.0
3   2024-13-10    Banarasi Silk Saree     Textiles & Fashion   East        15.0       150.0     Priya       2250.0
4   2024-04-22            Khadi Kurta     Textiles & Fashion  South         NaN        25.0    Vikram        625.0
5   2024-05-18   Ashwagandha Capsules   Wellness & Ayurvedic  North        90.0        12.0      Anil       1080.0
6   2024-06-07         boAt Earphones            Electronics   West       200.0         NaN       NaN       3600.0
7   2024-07-12      Haldiram's Bhujia          Spices & Food  South       150.0         5.0     Priya        750.0
8   2024-07-12      Haldiram's Bhujia          Spices & Food  South       150.0         5.0     Priya        750.0
9   2024-08-09        Kundan Necklace  Jewelry & Handicrafts   East        10.0       200.0    Vikram       2000.0
10  2024-09-14         Darjeeling Tea          Spices & Food  North        60.0        15.0      Anil        900.0
11  2024-10-05         Neem Face Mask   Wellness & Ayurvedic   West       -70.0        10.0      Riya        700.0
12  2024-11-20     Handloom Bedspread     Textiles & Fashion  South        25.0        50.0     Priya       1250.0
13  2024-12-12            Amul Butter          Spices & Food   East       100.0         4.5    Vikram        450.0
14  2024-01-25      Blue Pottery Vase  Jewelry & Handicrafts  North        20.0        30.0      Anil        600.0
15  2024-02-14           Garam Masala          Spices & food   West       110.0         4.0      Riya          NaN
16  2024-03-08   Organic Cotton Shirt     Textiles & Fashion  South        60.0        20.0     Priya       1200.0
17  2024-04-17               Yoga Mat   Wellness & AYURVEDIC   East        85.0        15.0    Vikram       1275.0
18  2024-05-22          Mixer Grinder            Electronics  North        30.0        60.0       NaN       1800.0
19  2024-06-10       Parle-G Biscuits          Spices & Food   West       200.0         2.0      Riya        400.0
20  2024-07-15             Brass Diya  Jewelry & Handicrafts  South        40.0        12.0     Priya        480.0
21  2024-08-20     Mysore Sandal Soap   Wellness & Ayurvedic   East       150.0         3.5    Vikram        525.0
22  2024-09-05          Bajaj Scooter             Automotive  North         5.0       800.0      Anil       4000.0
23  2024-10-12        Handmade Carpet     Textiles & Fashion   West         8.0       250.0      Riya       2000.0
24  2024-11-18   Paper Boat Aam Panna          Spices & Food  South        90.0         1.5     Priya        135.0
25  2024-11-18   Paper Boat Aam Panna              Beverages  South        90.0         1.5     Priya        135.0
26  2024-12-01  Himalaya Herbal Cream   Wellness & Ayurvedic   East       100.0         8.0    Vikram        800.0
27  2024-01-30           Old Monk Rum              Beverages  North        50.0        12.0      Anil        600.0
28  2024-02-22     Madhubani Painting  Jewelry & Handicrafts   West        12.0       100.0      Riya       1200.0
29  2024-03-15         Snitch T-Shirt     Textiles & Fashion  South        70.0        15.0     Priya       1050.0
30  2024-04-10     Dabur Chyawanprash          Spices & Food   East        80.0        10.0       NaN        800.0
31  2024-05-25         Safari Luggage            Electronics  North        25.0        80.0      Anil       2000.0
32  2024-06-18     Turmeric Face Mask   Wellness & Ayurvedic   West        60.0         9.0      Riya        540.0
33  2024-07-20           Bhujia Papad          Spices & Food  South       120.0         2.5     Priya        300.0
34  2024-08-12         Pashmina Shawl     Textiles & Fashion   East        10.0       120.0    Vikram       1200.0
35  2024-09-22  Forest Essentials Oil   Wellness & Ayurvedic  North        30.0      2500.0      Anil      75000.0
36  2024-10-15         Marble Coaster  Jewelry & Handicrafts   West        40.0        15.0      Riya        600.0
37  2024-11-10          Cardamom Pods          Spices & Food  South       100.0         6.0     Priya        600.0
38  2024-12-05      Allen Solly Shirt     Textiles & Fashion   East        50.0        30.0    Vikram       1500.0
39  2024-01-08       Bamboo Tableware         Home & Kitchen  North        60.0        10.0      Anil        600.0
40  2024-02-18              Rooh Afza              Beverages   West        80.0         5.0      Riya        400.0
41  2024-03-20             Jaipur Rug     Textiles & Fashion  South        15.0       200.0     Priya       3000.0
42  2024-04-25         Gillette Razor   Wellness & Ayurvedic   East       200.0         3.0    Vikram        600.0
43  2024-05-30        Cinnamon Sticks          Spices & Food  North        90.0         4.0      Anil        360.0
44  2024-06-22              Tabla Set    Musical Instruments   West         5.0       150.0      Riya        750.0
45  2024-07-18   Indigo Cushion Cover         Home & Kitchen  South        40.0        12.0     Priya        480.0
46  2024-07-18   Indigo Cushion Cover         Home & Kitchen  South        40.0        12.0     Priya        480.0
47  2024-08-15    Kaama Ayurveda Soap   Wellness & Ayurvedic   East       100.0         7.0    Vikram        700.0
48  2024-09-10      Britannia Cookies          Spices & Food  North       150.0         2.5      Anil        375.0
49  2024-10-20        Khadi Face Mask     Textiles & Fashion   West        60.0         8.0      Riya        480.0
50  2024-12-32                  Sitar    Musical Instruments  South         3.0       500.0       NaN       1500.0

In [104]:
#pd.options.display.max_rows = 9999

In [106]:
customer_data = pd.read_json("./election.json")
print(customer_data)

     Customer_ID               Name                          Email  \
0              1        Aarav Kumar          aarav.kumar@gmail.com
1              2       Vihaan Singh         vihaan.singh@yahoo.com
2              3        Arjun Patel        arjun.patel@outlook.com
3              4     Mohammed Gupta  mohammed.gupta@rediffmail.com
4              5        Aryan Yadav          aryan.yadav@gmail.com
5              6       Aditya Reddy       aditya.reddy@hotmail.com
6              7      Shaurya Joshi      shaurya.joshi@outlook.com
7              8        Aayush Nair          aayush.nair@gmail.com
8              9         Atharv Rao           atharv.rao@yahoo.com
9             10          Sai Menon       sai.menon@rediffmail.com
10            11         Anaya Iyer         anaya.iyer@outlook.com
11            12        Diya Pillai          diya.pillai@gmail.com
12            13       Aaradhya Das       aaradhya.das@hotmail.com
13            14  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
14            15     Pari Mukherjee  pari.mukherjee@rediffmail.com
15            16      Myra Banerjee      myra.banerjee@outlook.com
16            17          Kiara Roy            kiara.roy@gmail.com
17            18        Aahana Saha          aahana.saha@yahoo.com
18            19         Riya Ghosh         riya.ghosh@hotmail.com
19            20        Anika Kumar     anika.kumar@rediffmail.com
20            21        Aarav Kumar          aarav.kumar@gmail.com
21            22       Vihaan Singh                           None
22            23        Arjun Patel            arjun.patel@invalid
23            24     Mohammed Gupta       mohammed.gupta@gmail.com
24            25        Aryan Yadav          aryan.yadav@yahoo.com
25            26       Aditya Reddy                           None
26            27      Shaurya Joshi      shaurya.joshi@outlook.com
27            28        Aayush Nair          aayush.nair@gmail.com
28            29         Atharv Rao         atharv.rao@hotmail.com
29            30          Sai Menon       sai.menon@rediffmail.com
30            31         Anaya Iyer           anaya.iyer@yahoo.com
31            32        Diya Pillai        diya.pillai@outlook.com
32            33       Aaradhya Das         aaradhya.das@gmail.com
33            34  Saanvi Chatterjee  saanvi.chatterjee@hotmail.com
34            35     Pari Mukherjee  pari.mukherjee@rediffmail.com
35            36      Myra Banerjee      myra.banerjee@outlook.com
36            37          Kiara Roy            kiara.roy@gmail.com
37            38        Aahana Saha          aahana.saha@yahoo.com
38            39         Riya Ghosh         riya.ghosh@hotmail.com
39            40        Anika Kumar     anika.kumar@rediffmail.com
40            41        Aarav Kumar          aarav.kumar@gmail.com
41            42       Vihaan Singh         vihaan.singh@yahoo.com
42            43        Arjun Patel        arjun.patel@outlook.com
43            44     Mohammed Gupta                           None
44            45        Aryan Yadav          aryan.yadav@gmail.com
45            46       Aditya Reddy       aditya.reddy@hotmail.com
46            47      Shaurya Joshi      shaurya.joshi@outlook.com
47            48        Aayush Nair          aayush.nair@gmail.com
48            49         Atharv Rao           atharv.rao@yahoo.com
49            50          Sai Menon       sai.menon@rediffmail.com
50            51         Anaya Iyer         anaya.iyer@outlook.com
51            52        Diya Pillai          diya.pillai@gmail.com
52            53       Aaradhya Das       aaradhya.das@hotmail.com
53            54  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
54            55     Pari Mukherjee  pari.mukherjee@rediffmail.com
55            56      Myra Banerjee      myra.banerjee@outlook.com
56            57          Kiara Roy            kiara.roy@gmail.com
57            58        Aahana Saha          aahana.saha@yahoo.com
58            59         Riya Ghosh         riya.ghosh@hotmail.com
59            60        Anika Kumar     anika.kumar@rediffmail.com
60            61        Aarav Kumar          aarav.kumar@gmail.com
61            62       Vihaan Singh         vihaan.singh@yahoo.com
62            63        Arjun Patel        arjun.patel@outlook.com
63            64     Mohammed Gupta                           None
64            65        Aryan Yadav          aryan.yadav@gmail.com
65            66       Aditya Reddy       aditya.reddy@hotmail.com
66            67      Shaurya Joshi      shaurya.joshi@outlook.com
67            68        Aayush Nair          aayush.nair@gmail.com
68            69         Atharv Rao           atharv.rao@yahoo.com
69            70          Sai Menon       sai.menon@rediffmail.com
70            71         Anaya Iyer         anaya.iyer@outlook.com
71            72        Diya Pillai          diya.pillai@gmail.com
72            73       Aaradhya Das       aaradhya.das@hotmail.com
73            74  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
74            75     Pari Mukherjee  pari.mukherjee@rediffmail.com
75            76      Myra Banerjee      myra.banerjee@outlook.com
76            77          Kiara Roy            kiara.roy@gmail.com
77            78        Aahana Saha          aahana.saha@yahoo.com
78            79         Riya Ghosh         riya.ghosh@hotmail.com
79            80        Anika Kumar     anika.kumar@rediffmail.com
80            81        Aarav Kumar          aarav.kumar@gmail.com
81            82       Vihaan Singh         vihaan.singh@yahoo.com
82            83        Arjun Patel        arjun.patel@outlook.com
83            84     Mohammed Gupta  mohammed.gupta@rediffmail.com
84            85        Aryan Yadav          aryan.yadav@gmail.com
85            86       Aditya Reddy       aditya.reddy@hotmail.com
86            87      Shaurya Joshi      shaurya.joshi@outlook.com
87            88        Aayush Nair          aayush.nair@gmail.com
88            89         Atharv Rao           atharv.rao@yahoo.com
89            90          Sai Menon       sai.menon@rediffmail.com
90            91         Anaya Iyer         anaya.iyer@outlook.com
91            92        Diya Pillai          diya.pillai@gmail.com
92            93       Aaradhya Das       aaradhya.das@hotmail.com
93            94  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
94            95     Pari Mukherjee  pari.mukherjee@rediffmail.com
95            96      Myra Banerjee      myra.banerjee@outlook.com
96            97          Kiara Roy            kiara.roy@gmail.com
97            98        Aahana Saha          aahana.saha@yahoo.com
98            99         Riya Ghosh         riya.ghosh@hotmail.com
99           100        Anika Kumar     anika.kumar@rediffmail.com
100          101        Aarav Kumar          aarav.kumar@gmail.com
101          102       Vihaan Singh         vihaan.singh@yahoo.com
102          103        Arjun Patel        arjun.patel@outlook.com
103          104     Mohammed Gupta  mohammed.gupta@rediffmail.com
104          105        Aryan Yadav          aryan.yadav@gmail.com
105          106       Aditya Reddy       aditya.reddy@hotmail.com
106          107      Shaurya Joshi      shaurya.joshi@outlook.com
107          108        Aayush Nair          aayush.nair@gmail.com
108          109         Atharv Rao           atharv.rao@yahoo.com
109          110          Sai Menon       sai.menon@rediffmail.com
110          111         Anaya Iyer         anaya.iyer@outlook.com
111          112        Diya Pillai          diya.pillai@gmail.com
112          113       Aaradhya Das       aaradhya.das@hotmail.com
113          114  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
114          115     Pari Mukherjee  pari.mukherjee@rediffmail.com
115          116      Myra Banerjee      myra.banerjee@outlook.com
116          117          Kiara Roy            kiara.roy@gmail.com
117          118        Aahana Saha          aahana.saha@yahoo.com
118          119         Riya Ghosh         riya.ghosh@hotmail.com
119          120        Anika Kumar     anika.kumar@rediffmail.com
120          121        Aarav Kumar          aarav.kumar@gmail.com
121          122       Vihaan Singh         vihaan.singh@yahoo.com
122          123        Arjun Patel        arjun.patel@outlook.com
123          124     Mohammed Gupta  mohammed.gupta@rediffmail.com
124          125        Aryan Yadav          aryan.yadav@gmail.com
125          126       Aditya Reddy       aditya.reddy@hotmail.com
126          127      Shaurya Joshi      shaurya.joshi@outlook.com
127          128        Aayush Nair          aayush.nair@gmail.com
128          129         Atharv Rao           atharv.rao@yahoo.com
129          130          Sai Menon       sai.menon@rediffmail.com
130          131         Anaya Iyer         anaya.iyer@outlook.com
131          132        Diya Pillai          diya.pillai@gmail.com
132          133       Aaradhya Das       aaradhya.das@hotmail.com
133          134  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
134          135     Pari Mukherjee  pari.mukherjee@rediffmail.com
135          136      Myra Banerjee      myra.banerjee@outlook.com
136          137          Kiara Roy            kiara.roy@gmail.com
137          138        Aahana Saha          aahana.saha@yahoo.com
138          139         Riya Ghosh         riya.ghosh@hotmail.com
139          140        Anika Kumar     anika.kumar@rediffmail.com
140          141        Aarav Kumar          aarav.kumar@gmail.com
141          142       Vihaan Singh         vihaan.singh@yahoo.com
142          143        Arjun Patel        arjun.patel@outlook.com
143          144     Mohammed Gupta  mohammed.gupta@rediffmail.com
144          145        Aryan Yadav          aryan.yadav@gmail.com
145          146       Aditya Reddy       aditya.reddy@hotmail.com
146          147      Shaurya Joshi      shaurya.joshi@outlook.com
147          148        Aayush Nair          aayush.nair@gmail.com
148          149         Atharv Rao           atharv.rao@yahoo.com
149          150          Sai Menon       sai.menon@rediffmail.com
150          151         Anaya Iyer         anaya.iyer@outlook.com
151          152        Diya Pillai          diya.pillai@gmail.com
152          153       Aaradhya Das       aaradhya.das@hotmail.com
153          154  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
154          155     Pari Mukherjee  pari.mukherjee@rediffmail.com
155          156      Myra Banerjee      myra.banerjee@outlook.com
156          157          Kiara Roy            kiara.roy@gmail.com
157          158        Aahana Saha          aahana.saha@yahoo.com
158          159         Riya Ghosh         riya.ghosh@hotmail.com
159          160        Anika Kumar     anika.kumar@rediffmail.com
160          161        Aarav Kumar          aarav.kumar@gmail.com
161          162       Vihaan Singh         vihaan.singh@yahoo.com
162          163        Arjun Patel        arjun.patel@outlook.com
163          164     Mohammed Gupta  mohammed.gupta@rediffmail.com
164          165        Aryan Yadav          aryan.yadav@gmail.com
165          166       Aditya Reddy       aditya.reddy@hotmail.com
166          167      Shaurya Joshi      shaurya.joshi@outlook.com
167          168        Aayush Nair          aayush.nair@gmail.com
168          169         Atharv Rao           atharv.rao@yahoo.com
169          170          Sai Menon       sai.menon@rediffmail.com
170          171         Anaya Iyer         anaya.iyer@outlook.com
171          172        Diya Pillai          diya.pillai@gmail.com
172          173       Aaradhya Das       aaradhya.das@hotmail.com
173          174  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
174          175     Pari Mukherjee  pari.mukherjee@rediffmail.com
175          176      Myra Banerjee      myra.banerjee@outlook.com
176          177          Kiara Roy            kiara.roy@gmail.com
177          178        Aahana Saha          aahana.saha@yahoo.com
178          179         Riya Ghosh         riya.ghosh@hotmail.com
179          180        Anika Kumar     anika.kumar@rediffmail.com
180          181        Aarav Kumar          aarav.kumar@gmail.com
181          182       Vihaan Singh         vihaan.singh@yahoo.com
182          183        Arjun Patel        arjun.patel@outlook.com
183          184     Mohammed Gupta  mohammed.gupta@rediffmail.com
184          185        Aryan Yadav          aryan.yadav@gmail.com
185          186       Aditya Reddy       aditya.reddy@hotmail.com
186          187      Shaurya Joshi      shaurya.joshi@outlook.com
187          188        Aayush Nair          aayush.nair@gmail.com
188          189         Atharv Rao           atharv.rao@yahoo.com
189          190          Sai Menon       sai.menon@rediffmail.com
190          191         Anaya Iyer         anaya.iyer@outlook.com
191          192        Diya Pillai          diya.pillai@gmail.com
192          193       Aaradhya Das       aaradhya.das@hotmail.com
193          194  Saanvi Chatterjee    saanvi.chatterjee@yahoo.com
194          195     Pari Mukherjee  pari.mukherjee@rediffmail.com
195          196      Myra Banerjee      myra.banerjee@outlook.com
196          197          Kiara Roy            kiara.roy@gmail.com
197          198        Aahana Saha          aahana.saha@yahoo.com
198          199         Riya Ghosh         riya.ghosh@hotmail.com
199          200        Anika Kumar     anika.kumar@rediffmail.com

            Phone  Age  Gender                City           State
0    9.112346e+11   28    Male              Mumbai     Maharashtra
1    9.198765e+11   35  Female                Pune     maharashtra
2    9.170000e+11   42    Male             Lucknow   Uttar Pradesh
3    9.155556e+11   29    Male             Chennai      Tamil Nadu
4    9.133333e+11   51  Female               Patna           Bihar
5    9.122222e+11   23    Male             Kolkata     West bengal
6    9.111111e+11   67    Male              Bhopal  Madhya Pradesh
7    9.200000e+11   34    Male  Thiruvananthapuram          Kerala
8    9.188889e+11   45  Female           Bengaluru       Karnataka
9    9.177778e+11   26    Male           Ahmedabad         Gujarat
10   9.166667e+11   38    Male       Visakhapatnam  Andhra Pradesh
11   9.154444e+11   55  Female         Bhubaneswar          Odisha
12   9.144444e+11   31    Male              Jaipur       Rajasthan
13   9.133333e+11   47  Female           Hyderabad       Telangana
14   9.122222e+11   22    Male            Guwahati           Assam
15   9.111111e+11   59  Female            Amritsar          Punjab
16   9.200000e+11   33    Male              Ranchi       Jharkhand
17   9.188889e+11   41  Female              Raipur    Chhattisgarh
18   9.177778e+11   27    Male            Gurugram         Haryana
19   9.166667e+11   52  Female           New Delhi           Delhi
20   9.112346e+11   28    Male              Mumbai     Maharashtra
21   9.198765e+11   35  Female                Pune     Maharashtra
22   9.170000e+11   42    Male             Lucknow   Uttar pradesh
23   9.155556e+11   29    Male             Chennai      Tamil Nadu
24   9.133333e+11  150  Female               Patna           Bihar
25   9.122222e+11   23    Male             Kolkata     West Bengal
26   9.111111e+11   67    Male              Bhopal  Madhya Pradesh
27   9.200000e+11   34    Male  Thiruvananthapuram          Kerala
28   9.188889e+11   45  Female           Bengaluru       Karnataka
29   9.177778e+11   26    Male           Ahmedabad         Gujarat
30   9.166667e+11   38    Male       Visakhapatnam  Andhra Pradesh
31   9.154444e+11   55  Female         Bhubaneswar          Odisha
32   9.144444e+11   31    Male              Jaipur       Rajasthan
33   9.133333e+11   47  Female           Hyderabad       Telangana
34   9.122222e+11   22    Male            Guwahati           Assam
35   9.111111e+11   59  Female            Amritsar          Punjab
36   9.200000e+11   33    Male              Ranchi       Jharkhand
37   9.188889e+11   41  Female              Raipur    Chhattisgarh
38   9.177778e+11   27    Male            Gurugram         Haryana
39   9.166667e+11   52  Female           New Delhi           Delhi
40   9.112346e+11   28    Male              Mumbai     Maharashtra
41   9.198765e+11   35  Female                Pune     Maharashtra
42   9.170000e+11   42    Male             Lucknow   Uttar Pradesh
43   9.155556e+11   29    Male             Chennai      Tamil Nadu
44   9.133333e+11   51  Female               Patna           Bihar
45   9.122222e+11   23    Male             Kolkata     West Bengal
46   9.111111e+11   -1    Male              Bhopal  Madhya Pradesh
47   9.200000e+11   34    Male  Thiruvananthapuram          Kerala
48   9.188889e+11   45  Female           Bengaluru       Karnataka
49   9.177778e+11   26    Male           Ahmedabad         Gujarat
50   9.166667e+11   38    Male       Visakhapatnam  Andhra Pradesh
51   9.154444e+11   55  Female         Bhubaneswar          Odisha
52   9.144444e+11   31    Male              Jaipur       Rajasthan
53   9.133333e+11   47  Female           Hyderabad       Telangana
54   9.122222e+11   22    Male            Guwahati           Assam
55   9.111111e+11   59  Female            Amritsar          Punjab
56   9.200000e+11   33    Male              Ranchi       Jharkhand
57   9.188889e+11   41  Female              Raipur    Chhattisgarh
58   9.177778e+11   27    Male            Gurugram         Haryana
59   9.166667e+11   52  Female           New Delhi           Delhi
60   9.112346e+11   28    Male              Mumbai     Maharashtra
61   9.198765e+11   35  Female                Pune     Maharashtra
62   9.170000e+11   42    Male             Lucknow   Uttar Pradesh
63   9.155556e+11   29    Male             Chennai      Tamil Nadu
64   9.133333e+11   51  Female               Patna           Bihar
65   9.122222e+11   23    Male             Kolkata     West Bengal
66   9.111111e+11   -1    Male              Bhopal  Madhya Pradesh
67   9.200000e+11   34    Male  Thiruvananthapuram          Kerala
68   9.188889e+11   45  Female           Bengaluru       Karnataka
69   9.177778e+11   26    Male           Ahmedabad         Gujarat
70   9.166667e+11   38    Male       Visakhapatnam  Andhra Pradesh
71   9.154444e+11   55  Female         Bhubaneswar          Odisha
72   9.144444e+11   31    Male              Jaipur       Rajasthan
73   9.133333e+11   47  Female           Hyderabad       Telangana
74   9.122222e+11   22    Male            Guwahati           Assam
75   9.111111e+11   59  Female            Amritsar          Punjab
76   9.200000e+11   33    Male              Ranchi       Jharkhand
77   9.188889e+11   41  Female              Raipur    Chhattisgarh
78   9.177778e+11   27    Male            Gurugram         Haryana
79   9.166667e+11   52  Female           New Delhi           Delhi
80   9.112346e+11   28    Male              Mumbai     Maharashtra
81   9.198765e+11   35  Female                Pune     Maharashtra
82   9.170000e+11   42    Male             Lucknow   Uttar Pradesh
83   9.155556e+11   29    Male             Chennai      Tamil Nadu
84   9.133333e+11   51  Female               Patna           Bihar
85   9.122222e+11   23    Male             Kolkata     West Bengal
86   9.111111e+11   67    Male              Bhopal  Madhya Pradesh
87   9.200000e+11   34    Male  Thiruvananthapuram          Kerala
88   9.188889e+11   45  Female           Bengaluru       Karnataka
89   9.177778e+11   26    Male           Ahmedabad         Gujarat
90   9.166667e+11   38    Male       Visakhapatnam  Andhra Pradesh
91   9.154444e+11   55  Female         Bhubaneswar          Odisha
92   9.144444e+11   31    Male              Jaipur       Rajasthan
93   9.133333e+11   47  Female           Hyderabad       Telangana
94   9.122222e+11   22    Male            Guwahati           Assam
95   9.111111e+11   59  Female            Amritsar          Punjab

In [100]:
pd.options.display.max_rows = 9999

In [108]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  200 non-null    int64
 1   Name         200 non-null    object
 2   Email        196 non-null    object
 3   Phone        199 non-null    float64
 4   Age          200 non-null    int64
 5   Gender       200 non-null    object
 6   City         200 non-null    object
 7   State        200 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 12.6+ KB

In [110]:
customer_data.head()

,Customer_ID,Name,Email,Phone,Age,Gender,City,State
0,1,Aarav Kumar,aarav.kumar@gmail.com,9.112346e+11,28,Male,Mumbai,Maharashtra
1,2,Vihaan Singh,vihaan.singh@yahoo.com,9.198765e+11,35,Female,Pune,maharashtra
2,3,Arjun Patel,arjun.patel@outlook.com,9.170000e+11,42,Male,Lucknow,Uttar Pradesh
3,4,Mohammed Gupta,mohammed.gupta@rediffmail.com,9.155556e+11,29,Male,Chennai,Tamil Nadu
4,5,Aryan Yadav,aryan.yadav@gmail.com,9.133333e+11,51,Female,Patna,Bihar

In [112]:
customer_data.tail()

,Customer_ID,Name,Email,Phone,Age,Gender,City,State
195,196,Myra Banerjee,myra.banerjee@outlook.com,9.111111e+11,59,Female,Amritsar,Punjab
196,197,Kiara Roy,kiara.roy@gmail.com,9.200000e+11,33,Male,Ranchi,Jharkhand
197,198,Aahana Saha,aahana.saha@yahoo.com,9.188889e+11,41,Female,Raipur,Chhattisgarh
198,199,Riya Ghosh,riya.ghosh@hotmail.com,9.177778e+11,27,Male,Gurugram,Haryana
199,200,Anika Kumar,anika.kumar@rediffmail.com,NaN,52,Female,New Delhi,Delhi

In [114]:
customer_data.describe()

       Customer_ID         Phone         Age
count   200.000000  1.990000e+02  200.000000
mean    100.500000  9.156728e+11   39.065000
std      57.879185  3.064600e+09   14.983769
min       1.000000  9.111111e+11   -1.000000
25%      50.750000  9.127778e+11   28.000000
50%     100.500000  9.155556e+11   35.000000
75%     150.250000  9.183333e+11   47.000000
max     200.000000  9.200000e+11  150.000000