
# Strings
a sequence of characters(Alphabets, Numbers, Special Symbols and whitespace) , enclosed in single(' ') or double quotes(" ")

## How to check Data type of any value / variable
<b>type(variable/value)</b> function returns the data type of the specified value variable

In [3]:
name = "John"

In [4]:
print(type(name))

<class 'str'>

In [5]:
print(type("Yogesh"))

<class 'str'>

In [9]:
print(type(123))

<class 'int'>

In [11]:
yourname = input("Enter your name : ")

Enter your name :  helloworld

In [13]:
print(yourname)

helloworld

### Note : Value taken as input using the input function is always of type 'Str' (by default), but can be converted into supported data type

In [15]:
print(type(yourname))

<class 'str'>

In [21]:
age = float(input("Enter your age : "))
print(type(age) , age)

Enter your age :  234

<class 'float'> 234.0

In [43]:
txt = "hello world my name is john doe and i am alien"

In [49]:
# len(variable / value) function return the number of characters in a string

In [53]:
print(len(txt))
print(len("hello world my name is john doe and i am alien"))

46
46

### Concatenation:
adding two or more string together

In [25]:
print("Hello world my name is " + yourname) 
print("hello world my name is " + yourname + " and i am " + age + " years old.")

Hello world my name is helloworld

TypeError: can only concatenate str (not "float") to str

# Formatted  String  : instead of adding things, we insert here
f" " | f' '

#### { } are used inside of f" " | f' ' to insert variables | expressions

In [30]:
print(f"hello world my name is {yourname} and i am {age} years old.")
print(f'hello world my name is {yourname} and i am {age} years old.')

hello world my name is helloworld and i am 234.0 years old.
hello world my name is helloworld and i am 234.0 years old.

In [34]:
first_name = "Alisson"
last_name = "Smith"
age = 23
# mess= "Hello world my name is " + first_name + " " + last_name + " and i am " + age + " years old"
mess= f"Hello world my name is {first_name} {last_name} and i am {age} years old"
print(mess)

Hello world my name is Alisson Smith and i am 23 years old

In [55]:
# formatted string
# f" " | f' ' 
# {} are used within formatted string to insert values | expressions

In [57]:
txt = f"hello world my name is {first_name} {last_name} and i am {age} years old."

In [59]:
print(txt)

hello world my name is Alisson Smith and i am 23 years old.

In [38]:
# indexing

# [start : stop : step]

# counting starting from 0 , used to to access charcters of a string 
# [] are used to use indexing

#-5-4-3-2-1 -> negative indexing r-l
# 0 1 2 3 4 -> positive indexing l-r
# A l i c e
# 1 2 3 4 5  




# first character is on the 0th position (positive)
# last character is on the len(str) - 1 th position (positive)



print(first_name[0])
print(first_name[ len(first_name) - 1 ])



# the first character is always on the -1 position (negative)
print(first_name[-1])


# slicing [start(inclusive) : stop(exlusive) ]
print(first_name[0 : 3]) # [0:2]

A
n
n
Ali

A
n

In [42]:
#-8-7-6-5-4-3-2-1
# 0 1 2 3 4 5 6 7
# j o h n   d o e


full_name = "John Doe"
print(full_name[0:4]) # [0:3]
print(full_name[5:8]) # [5-7}
print(full_name[5 : ]) # [5 : end]
print(full_name[ : 4 ]) # [start : 3]

print(full_name[-3 : -1]) # [-3 : -2]
print(full_name[-3 : ]) # [-3 : end]

John
Doe
Doe
John
Do
Doe

John

In [46]:
# [start : stop : step(default 1)]

print(full_name[::1]) #[start : stop : 1]
print(full_name[::2]) #[start : stop : 1]
print(full_name[::3]) #[start : stop : 1]

print(full_name[::-1])

John Doe
Jh o
Jno
eoD nhoJ